/*Estilo Form*/

#form_login label{
    font-size: 0.75rem;
    font-family:  Montserrat, sans-serif;
    font-weight: 600;
    color: #94a1b2;
}
.login-background {
    display: flex;
    align-items: center;
    padding-top: 2.5rem;
    background-image: url("../img/microphone-2618102_1920-1.jpg");
    background-size: cover;
    background-color: #16161A;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 18rem;
    justify-content: center;
    margin: auto;
    padding: 1.5rem;
    background-color:#16161a;
    border: none;
    border-radius: 0.3rem;
}

.container div input[type=text],
.container div input[type=password] {
    border-radius: 0.3rem;
    width: 100%;
    outline: none;
    border: 1px solid #CCC;
    height: 2rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

::placeholder {
    font-family: Rajdhani, sans-serif;
    color: #94a1b2;
}

.container div label:nth-child(2) {
    font-size: 0.75rem;
    text-align: justify;
}

.container div:nth-child(7) {
    display: inline-block;
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;    
}

.container div:nth-child(8) {
    margin: 1.5rem auto;
    text-align: center;
}

#login-button-cancel{
    padding: .5rem 1rem;
    color:#7f5af0;
    font-weight: 600;
    background-color:rgba(255,255,255,0);
    border: solid 2px #7f5af0;
    border-radius: .3rem;
    transition: .25s;
}

button#login-button-cancel:hover {
    background-color: #d846469a;
    color: white;
    border:none;
    cursor: pointer;
}

.mudar_login {
    display: none;
}
a#tenho_cadastro:hover{
    color:#7f5af0;
} 
#check_cad:checked ~ #tenho_cadastro {
    display: none;
 }



