/* ====================== NAVIGATION =========================================== */

@media (min-width: 768px) {

    #logo-container {
        margin-left: 1.5rem;
    }

    #hamburger-menu > label {
        display: none;
        margin-right: 0;
    }

    #menu-items-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 .5rem;
        background: rgba(255, 255, 255, 0);
        width: 100%;
        position: static;
    }

    #menu-items {
        flex-direction: row;
        font-size: 1rem;
    }

    #menu-items li {
        padding: 1rem 0;
        margin: 0;
    }

    #menu-items li a {
        font-size: .75rem;
        margin: 0 1rem;
    }

    button#login-button {
        padding: .5rem 1.5rem;
        margin-right: 1.5rem;
    }
}


@media (min-width: 1024px) {

    #logo-container {
        margin-left: 2rem;
    }

    #main-navigation {
        padding: 1.5rem;
    }

    #menu-items li a {
        font-size: 1rem;
    }

    button#login-button {
        margin-right: 2rem;
    }
}


/* ====================== PODCAST-PAGES =========================================== */

@media (min-width: 768px) {

    .podcast-page {
        flex-direction: row;
    }

    .podcast-banner{
        width: 40rem;
    }

    #logo-podcast{
        width: 12rem;
    }

    .podcast-conteudo {
        position: relative; 
        top: 0;
        padding: 0;
    }   

    .podcast-page{
        align-items: flex-start;
        padding: 8rem 0;
    }
    
    .podcast-conteudo p {
        padding-right: 5rem;
    }
}


@media (min-width: 1024px) {

    #logo-podcast{
        width: 20rem;
    }

}


/* ====================== PODCAST-PAGES =========================================== */

/* @media (min-width: 768px){
    #contact{
        height:50vh !important;
    }
    .container-icons{
        flex-direction: row !important;
        height:50vh !important;
    }
}

@media (max-width: 1120px){
    .form h2{
        margin: 1rem ;
    }
}

@media (max-width: 540px){
    input[type="email"]{
        width:100%;
    }
} */


/* ====================== ABOUT PAGE =========================================== */

@media (min-width: 768px) {

    section#devs {
        padding: 4rem 6rem 6rem 6rem;
        grid-row-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section.about {
        padding: 4rem 8rem;
    }
}

@media (min-width: 1024px) {

    section#devs {
        grid-row-gap: 3rem;
        padding: 4rem 12rem 6rem 12rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section.about {
        padding: 4rem 15rem;
    }
}



/* ====================== ANIMATIONS =========================================== */

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-2px); }
    100% { transform: translateY(2px); }
    }

@keyframes slide-down {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}

