/* ====================== NAVIGATION =========================================== */

@media (min-width: 768px) {

    #hamburger-menu > label {
        display: none;
        margin-right: 0;
    }

    #menu-items {
        flex-direction: row;
        font-size: 1rem;
    }

    #menu-items li a {
        font-size: .75rem;
        margin: 0 1rem;
    }

    #menu-items li {
        padding: 1rem 0;
        margin: 0;
    }

    #menu-items-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 1rem;
        background: rgba(255, 255, 255, 0);
        width: 100%;
    }

    #main-navigation {
        padding: 1.75rem 0;
    }

    #login-button {
        padding: .5rem 1.5rem;
        margin-right: 1rem;
    }
}


@media (min-width: 1024px) {

    #menu-items li a {
        font-size: 1rem;
    }
}
/* ====================== PODCAST-PAGES =========================================== */
@media (min-width: 768px) {
    .podcast-page {
        flex-direction: row;
        
    }
    .podcast-banner{
        width: 40rem;
    }

    #logo-podcast{
        width: 12rem;
    }
    .podcast-conteudo {
    position: relative; 
    top: 0;
    padding: 0;
    }   
    .podcast-page{
        align-items: flex-start;
        padding: 8rem 0;
    }
    .podcast-conteudo p {
        padding-right: 5rem;
    }
}


@media (min-width: 1024px) {
    #logo-podcast{
        width: 20rem;
    }

}





/* ====================== ANIMATIONS =========================================== */

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-2px); }
    100% { transform: translateY(2px); }
    }

@keyframes slide-down {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}

