@import url('../style.css');

.podcast-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0 0;
    height: 100vh;
}

.podcast-banner {
    margin-bottom: 2rem;
}

.podcast-foto {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#logo-podcast {
    border-radius: 0.3rem;
    width: 15rem;
}

.podcast-icons {
    text-align: center;
    margin-top: 0.5rem;
}

.podcast-icons a {
    margin: 0 0.5rem;
}

.podcast-icons a img:hover{
    transform: scale(1.2);
    animation: bounce 0.1s;
}



.podcast-links {
    display: flex;
    flex-direction: column;
    grid-gap: 0.4rem;
}

.podcast-conteudo {
    padding: 3rem;
}

.podcast-conteudo h1 {
    text-align: left;
    font-family: montserrat, sans-serif;
    color: #2cb67d;
    margin-bottom: 0.2rem;
}

.podcast-conteudo h3 {
    text-align: left;
    font-family: montserrat, sans-serif;
    color: #2cb67d;
    margin-bottom: 1rem;
}

.podcast-links p {
    font-family: rajdhanit, sans-serif;
    color: #2cb67d;
    text-align: center;
}

.hear-here {
    width: 2rem;
    border-radius: 5px;
    cursor: pointer;
}